table {
  border-collapse: collapse;
  width: 320px;
  margin: auto;
  background-color:rgb(30, 198, 192)
}
th, td {
  border: 1px solid black;
  padding: 11px;
  text-align: center;
  color:black;
}