* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 2fr 1fr;    
  gap: 10px;
}
.header {
  grid-column: 1 / 4;
  background-color: rgb(126, 106, 4);
  font-size: 26px;
  text-align: center;
  padding: 12px;
  color: rgb(236, 236, 203);
}
.main {
  grid-column: 1 / 2;
  background-color: rgb(123, 172, 18);
  font-size: 20px;
  padding: 9px;
  color:black;
}
.empty {
  grid-column: 2 / 3;
  background-color: rgb(44, 139, 17);
  font-size: 20px;
  padding: 9px;
  color: black;
}
.sidebar {
  grid-column: 3 / 4;
  background-color: rgb(16, 193, 128);
  font-size: 20px;
  padding: 9px;
}
.footer {
  grid-column: 1 / 4;
  background-color: rgb(126, 106, 4);
  font-size: 22px;
  text-align: center;
  padding: 12px;
  color: rgb(236, 236, 203);
}